<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">
    <div style="background-color: #ffe001; padding: 20px; text-align: center;">
        <img
            src="https://cdn.allmylinks.com/prod/User/photo/I/9/8/6as_Fnt_R4stPbYTdkt2J7V8i7lkcCOc.jpg"
            alt="Climtem"
            width="100"
            style="display: block; margin: 0 auto;"
        />
    </div>
    <div class="text-center" style="padding: 20px;">
        <h1>{{header}}</h1>
        <p>{{content}}</p>
    </div>
    <div style="background-color: #ffe001; padding: 20px; text-align: center;">
  </div>
</body>
</html>